body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    text-align:center;
}

.menu{
    margin-top:100px;
}

a{
    display:block;
    width:250px;
    margin:20px auto;
    padding:15px;
    background:#0077cc;
    color:white;
    text-decoration:none;
    border-radius:10px;
}

a:hover{
    background:#005fa3;
}